<div class="col-xs-10 col-xs-offset-1 about">
  <h1 class="text-center">About Splurtae</h1>
  <br />
  <p class="text-justify">
    Splurtae was built by <a target="_blank" href="http://twitter.com/taehyunlim">Tae</a> following the guide outlined in "Splurty" tutorial course from <a target="_blank" href="https://www.thefirehoseproject.com">The Firehose Project</a>.
  </p>
  <br />
  <div class="col-xs-12 col-sm-4">
    <br />
    <br />
    <%= image_tag 'profile.png', class: 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Tae Lim</h2>
    <br />
    <p class="text-justify">
      Tae Lim is an aspiring product maker from Korea. He has spent about three years in online marketing, specializing in search engine marketing, during which he realized that his passion lies in product designing and building things with his own hands. Instead of picking up woodworking tools, he has made a full commitment to learn how to code, because it has no physical or spatial limits. He hopes to one day build something that is beautiful, elegant, and adds utility and delight to people's everyday life.
    </p>
  </div>
  
</div>
<br class="clear" />
<br />
<br />
<br />
<br />